@import "../variables";

.gallery-container {
  .gallery-navigation {
    float: left;

    ul {
      background-color: #eaeef7;
      border-radius: 4px;
      height: 44px;

      &::after {
        clear: both;
        content: " ";
        display: table;
      }

      li {
        float: left;

        &.active {
          a {
            color: white;
            position: relative;

            &::before {
              background-color: $primary-color;
              border-radius: 4px;
              bottom: -3px;
              content: "";
              display: block;
              left: 0;
              position: absolute;
              right: 0;
              top: -3px;
            }

            & span {
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        a {
          color: $font-color;
          display: block;
          font-size: 15px;
          height: 44px;
          line-height: 44px;
          padding: 0 20px;
          outline: none;

          span {
            display: inline-block;
            position: relative;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: 475px) and (max-width: 709px) {
      float: none;
      height: auto;

      ul {
        background: none;
        height: auto;

        li {
          float: none;
          display: block;
          height: auto;

          a {
            background: #eaeef7;
          }
        }
      }
    }
  }

  .gallery-box {
    .title {
      display: block;
      font-size: 24px;
      font-weight: 100;
      padding-bottom: 15px;
    }
  }
}